.loading {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-content {
    position: absolute;
    left: 16.61%;
    right: 20.83%;
    top: 7.52%;
    bottom: -0.54%;
    .to-vw(1081);
    .to-vh(1039);
    justify-content: center;
    align-items: center;
    background-color: white;
}