.loading {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-content {
    .to-vw(1068);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}