.header-bar {
    display: flex;
    .to-vh(65);
    align-items: center;
    .to-vw(20, padding);

    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.header-nav {
    display: flex;
}