.to-vw (@px, @attr: width) {
    @vw: (@px / 1920) * 100;
    @{attr}:~"@{vw}vw";
}

.to-vh(@px, @attr: height) {
    @vh: (@px / 1080) * 100;
    @{attr}:~"@{vh}vh";
}

@berry-10: #F8F1F5;
@berry-60: #FCDDEC;
@berry-80: #F178B6;
@berry-100: #EF5DA8;

@base-10: #F0F0F0;
@base-20: #E6E6E6;
@base-60: #D8D8D8;
@base-80: #6C6C6C;
@base-100: #0E0E2C;